body{
	margin: 0;
	padding: 0;
	background-color: #23519b;
	background-size: cover;
}


table{
	border-spacing: 15px;
}	


.box_head{
	width: 500px;
	background: rgba(0,0,0,0.0);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: 'Century Gothic',sans-serif;
}


.box-img{
	border-radius: 50%
	width: 50px;
	height: 200px;
}

.box-thumb{
	border-radius: 50%
	width: 175px;
	height: 145px;
}


.box_head h1{
     font-size: 35px;
     letter-spacing: 1px;
     font-weight: 100;
}

.box_head h5{
     font-size: 25px;
     letter-spacing: 1px;
     font-weight: 100;
}

.box_head h6{
     font-size: 20px;
     letter-spacing: 1px;
     font-weight: 100;
}


.box_head p{
     text-align: center;
     font-size: 20px;
}


ul{
	margin: 0;
	padding: 0;
}


.box_head li{
	display: inline-block;
	margin 6px;
	list-style: none;
}

.box_head li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}

.box_head li a:hover{
	color: #b9b9b9;
}
